<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<env-entry>
		<env-entry-name>mySpecialValue</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>4</env-entry-value>
	</env-entry>
	<resource-ref>
		<res-ref-name>jdbc/myds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>